{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/solid.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/brands.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/chartsjs/Chart.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/flagiconcss/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/master.css' %}">
    <link rel="stylesheet" href="{% static 'components/sidebar/sidebar-default.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-7.1.0-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-7.1.0-web/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-7.1.0-web/css/fontawesome.min.css' %}">
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="{% static 'imgs/logo.png' %}" alt="System logo" class="app-logo logo_system">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="{% url 'adminpanel:index' %}"><i class="fas fa-home"></i> Trang chủ</a>
                </li>
                <li>
                    <a href="{% url 'adminpanel:admin_users' %}"><i class="fas fa-solid fa-users"></i> Tài khoản</a>
                </li>
                <li>
                    <a href="{% url 'adminpanel:admin_employee' %}"><i class="fas fa-solid fa-address-card"></i> Nhân viên</a>
                </li>
                <li>
                    <a href="{% url 'adminpanel:admin_customer' %}"><i class="fas fa-solid fa-user-plus"></i> Khách hàng</a>
                </li>
                <li>
                    <a href="{% url 'adminpanel:admin_product' %}"><i class="fas fa-solid fa-capsules"></i> Sản phẩm</a>
                </li>
                <li>
                    <a href="{% url 'adminpanel:admin_category' %}"><i class="fas fa-regular fa-font-awesome"></i> Loại sản phẩm</a>
                </li>
                <li>
                    <a href="{% url 'adminpanel:admin_bill' %}"><i class="fas fa-solid fa-file-invoice"></i> Hóa đơn</a>
                </li>
            </ul>
        </nav>
        <div id="body" class="active">
    <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <button type="button" id="sidebarCollapse" class="btn btn-light">
            <i class="fas fa-bars"></i><span></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <div class="nav-dropdown">
                        <a href="" class="nav-item nav-link dropdown-toggle text-secondary" data-toggle="dropdown">
                            <i class="fas fa-user"></i>
                            <span>Quản trị viên</span>
                            <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right nav-link-menu">
                            <ul class="nav-list">
                                <li><a href="{% url 'adminpanel:admin_profile' %}" class="dropdown-item"><i class="fas fa-address-card"></i> Thông tin cá nhân</a></li>
                                <li><a href="" class="dropdown-item"><i class="fas fa-envelope"></i> Thông báo</a></li>
                                <li><a href="" class="dropdown-item"><i class="fas fa-cog"></i> Cài đặt</a></li>
                                <div class="dropdown-divider"></div>
                                <li>
                                    <a href="{% url 'adminpanel:admin_logout' %}" class="dropdown-item">
                                        <i class="fas fa-sign-out-alt"></i> Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </nav>

    <!-- ========== NƠI HIỂN THỊ NỘI DUNG TRANG CON ========== -->
    <div class="container-fluid mt-4">
        {% block content %}
        {% endblock %}
    </div>
</div>
    </div>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/chartsjs/Chart.min.js' %}"></script>
    <script src="{% static 'js/dashboard-charts.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>