{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/admin/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/main.css' %}">
    <title>Đăng Nhập</title>
</head>
<body>
    <div class="login_form">
        <div class="login_form-left">
            <img src="{% static 'imgs/main-admin_background.png' %}">
        </div>
        <div class="login_form-right">
            <div class="login_form-right--card">
                <h2>Admin Login</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="input_group-admin">
                        <label>Username</label>
                        <input type="text" name="username" required>
                    </div>

                    <div class="input_group-admin">
                        <label>Password</label>
                        <input class="pass" type="password" name="password" required>
                    </div>
                    <button class="btn_login-admin" type="submit">ĐĂNG NHẬP</button>
                </form>
                {% if messages %}
                    <ul class="error-list">
                    {% for msg in messages %}
                        <li style="color:red;">{{ msg }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>