{% load static %}

<form method="POST" action="{% url 'adminpanel:admin_roles_add' %}">
    {% csrf_token %}

    <div class="form-group">
        <label>Mã quyền</label>
        <input type="text" name="role" class="form-control" required>
    </div>

    <div class="form-group">
        <label>Tên quyền</label>
        <input type="text" name="role_name" class="form-control" required>
    </div>

    <div class="form-group">
        <label>Trạng thái</label>
        <select name="status" class="form-control">
            <option value="active">Đang hoạt động</option>
            <option value="inactive">Ngưng hoạt động</option>
        </select>
    </div>

    <div class="d-flex justify-content-end">
        <button class="btn btn-primary">Lưu</button>
    </div>
</form>
