/* Reset CSS */
:root {
  --primary-color: #215fca;
  --font-size-base: 16px;
  --padding-s: 8px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, figure {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

input, button, textarea, select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, legend {
  border: 0;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

iframe {
  border: 0;
}