body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-background);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Form Login - Giao diện Admin */
.login_form {
    width: 85%;
    height: 75vh;
    display: flex;
    background: var(--white-color);
    font-size: 1.6rem;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    overflow: hidden;
}

/* BÊN TRÁI */
.login_form-left {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4faf8;
    border-right: 1px solid #dcdcdc;
}

.login_form-left img {
    width: 80%;
    border-radius: 15px;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0px 8px 12px rgba(0,0,0,0.2));
}

/* BÊN PHẢI */
.login_form-right {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.login_form-right--card {
    width: 360px;
    padding: 35px;
    background: rgba(255,255,255,0.75);
    border-radius: 14px;
    box-shadow: 0 10px 28px rgba(0,0,0,0.15);
    backdrop-filter: blur(8px);
}

.login_form-right--card h2 {
    text-align: center;
    margin-bottom: 25px;
    color: var(--blue-color);
    font-size: 2.6rem;
    font-weight: 700;
}

.input_group-admin {
    margin-bottom: 15px;
}

.input_group-admin label {
    font-weight: 600;
    color: var(--blue-color);
}

.input_group-admin input {
    width: 100%;
    margin-top: 6px;
    padding: 10px 10px 15px 15px;
    border-radius: 20px;
    border: 1px solid #bcbcbc;
    font-size: 1.5rem;
    transition: all .2s;
}

.input_group-admin input:focus {
    border-color: #3259e3;
    box-shadow: 0 0 6px rgba(26, 114, 201, 0.5);
    outline: none;
}

.input_group-admin pass {
    color: #5b5b5b;
}

.btn_login-admin {
    width: 100%;
    padding: 1.2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 1rem;
    background: linear-gradient(135deg, #5b83ce, #1a5cd8);
    
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 5px 15px rgba(32, 129, 221, 0.3);
    transition: 0.2s;
}

.btn_login-admin:hover {
    background: linear-gradient(135deg, #6fa3e1, #378bff);
    box-shadow: 0 7px 20px rgba(0,150,136,0.35);
}

/* Giao diện Dashboard - Cẩn thận khi làm nhé!*/
