.login_form {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #c2cedb, #3175f3);
}

.login_form-left {
    width: 50%;
    background-image: url('');
    background-size: cover;
    background-position: center;
    position: relative;
}

/* .login_form-left::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 80, 70, 0.45);
    width: 100%;
    align-items: center;
} */

.login_form-left img {
    position: absolute;
    width: 100%;
    align-items: center;
}

.login_form-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
    /* background: linear-gradient(135deg, #4a90e2, #9013fe); */
}

.login_form-right--card {
    width: 380px;
    padding: 40px;
    background: #ffffffb5;
    backdrop-filter: blur(10px);
    border-radius: 18px;
    box-shadow: 0 10px 35px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.3);
}

.login_form-right--card h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
    color: #004d40;
    font-weight: 700;
    letter-spacing: 1px;
}

.input_group-admin {
    margin-bottom: 18px;
}

.input_group-admin label {
    font-size: 15px;
    font-weight: 600;
    color: #004d40;
}

.input_group-admin input {
    width: 100%;
    margin-top: 6px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: 0.25s;
}

.input_group-admin input:focus {
    border-color: #009688;
    box-shadow: 0 0 8px rgba(0, 150, 136, 0.4);
    outline: none;
}

.btn_login-admin {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    background: linear-gradient(135deg, #009688, #2a766d);
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,150,136,0.4);
    transition: 0.2s;
}

.btn_login-admin:hover {
    background: linear-gradient(135deg, #72e7d7, #0d519a);
    box-shadow: 0 8px 20px rgba(0,150,136,0.35);
}